* {
    font-family: Avenir, sans-serif;
}

#mapOption {
    font-size: 16px;
}

#view {
    width: 100%;
}

#map {
    float: left;
    width: 70%;
}

#countryInfo {
    float: right;
    width: 25%;
}

.background {
    fill: none;
    pointer-events: all;
}