* {
    font-family: Avenir, sans-serif;
}

body {
    background-color: #E8F6F3;
}

#mapOption {
    font-size: 16px;
}

#map {
    float: left;
}

#countryInfo {
    float: right;
    width: 20%
}

.background {
    fill: none;
    pointer-events: all;
}