* {
    font-family: Avenir, sans-serif;
}

body {
    background-color: #E8F6F3;
}

#mapOption {
    font-size: 16px;
}

#map {
    float: left;
}

.background {
    fill: none;
    pointer-events: all;
}

.countryInfo {
    position: absolute;
    text-align: left;
    padding: 15px;
    font-size: 14px;
    color: white;
    background: #34495E;
    pointer-events: none;
    opacity: 0.75;
}