<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>One Belt One Road - Thematic Maps</title>

  <link href='css/style.css' rel='stylesheet'>
  <script src='js/d3.v5.min.js'></script>
  <script src='js/d3-selection-multi.v1.min.js'></script>
</head>

<body>
  <select id='mapOption' title='mapOption'>
    <option>Default</option>
    <option>Native Language Family</option>
    <option>Number of Official Languages</option>
    <option>English as Official Language</option>
    <option>Prevailing Religion</option>
    <option>Number of Major Religions</option>
    <option>Officially Religious</option>
    <option>Percentage of Religious Population</option>
    <option>Percentage of Christians</option>
    <option>Percentage of Muslims</option>
    <option>Percentage of Buddhists</option>
    <option>Percentage of Jews</option>
  </select>
  <div id='view'></div>

  <script>const locals = <%- JSON.stringify(locals) %>;</script>
  <script src='js/index.js'></script>
</body>
</html>