<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>One Belt One Road - Thematic Maps</title>

  <link href='css/style.css' rel='stylesheet'>
  <script src='js/d3.v5.min.js'></script>
</head>

<body>
  <div id='options'>
    <input type='button' value='Default' onclick='console.log(1)' />
    <input type='button' value='Languages' onclick='console.log(1)' />
    <input type='button' value='Religions' onclick='console.log(1)' />
  </div>
  <div id='view'></div>

  <script>const locals = <%- JSON.stringify(locals) %>;</script>
  <script src='js/index.js'></script>
</body>
</html>